body {
  background-color: #f1f1f1;
}
/* NAVIGATION */
a {
  text-decoration: none;
  color: black;
}
#header-img {
  width: 330px;
}

/* INTRO AND FORM */
h2 {
  text-align: center;
}
#form {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
#email {
  width: 13rem;
}
#submit {
  margin-top: 10px;
  width: 7rem;
  height: 1.7rem;
  cursor: pointer;
  box-shadow: none;
  border: none;
  background-color: #f1c40f;
}
#submit:hover {
  background-color: darkorange;
  transition: background-color 1s;
}

/* FEATURES */
i {
  color: darkorange;
}
.features {
  margin-top: 40px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-template-rows: auto;
}
.features i {
  justify-self: center;
  align-self: center;
}
.features h2 {
  grid-column: 2/3;
  justify-self: center;
}
.features p {
  grid-column: 1/3;
}

/* VIDEO */
#video {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}
iframe {
  width: 560px;
}

/* PRODUCTS */
#products {
  padding: 10px;
}
.products {
  margin-top: 40px;
  margin-bottom: 10px;
  border: 1px solid black;
  text-align: center;
  width: 100%;
}
.products h2 {
  background-color: #c9c9c9;
  text-align: center;
  margin-top: 0px;
}
ol {
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
.select {
  width: 100px;
  height: 30px;
  background-color: #f1c40f;
  margin-bottom: 10px;
  box-shadow: none;
  border: none;
  cursor: pointer;
}
.select:hover {
  background-color: darkorange;
  transition: background-color 1s;
}

/* FOOTER */
#footer ul {
  list-style: none;
  display: flex;
}
#footer ul li {
  margin: auto;
  padding: 0;
}
#footer p {
  text-align: center;
}
/* MEDIA QUERIES */
@media (min-width: 750px) {
  #header {
    display: flex;
    position: fixed;
    top: 0px;
    background-color: #f1f1f1;
    width: 100%;
  }
  main {
    margin-top: 100px;
  }
  #nav-bar {
    padding: 10px;
    margin-left: auto;
  }
  .nav-link {
    padding: 10px;
    font-size: 18px;
  }
  #features {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .features {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
  }
  .features p {
    grid-column: 1/6;
    text-align: center;
  }
  .features i {
    grid-column: 2;
    justify-self: center;
    align-self: center;
  }
  .features h2 {
    grid-column: 3;
    justify-self: left;
    align-self: center;
  }
  #products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    grid-template-rows: auto;
  }
  #footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    align-items: center;
  }
  #footer ul {
    list-style: none;
    grid-column: 1;
    justify-self: start;
    display: flex;
  }
  #footer ul li {
    margin-right: 20px;
  }
  #footer p {
    justify-self: end;
    grid-column: 3/5;
  }
}
@media (max-width: 750px) {
  #nav-bar {
    display: none;
  }
}
@media (min-width: 1350px) {
  .nav-link {
    padding: 60px;
    font-size: 20px;
  }
  #features {
    display: grid;
    grid-template-rows: auto;
    margin-bottom: 40px;
  }
  .features {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    text-align: end;
  }
  .features i {
    grid-column: 2;
    justify-self: center;
    align-self: center;
  }
  .features h2 {
    grid-column: 3;
    justify-self: start;
  }
  .features p {
    grid-column: 3/7;
    justify-self: start;
    margin-top: 0;
  }
  #products {
    display: grid;
    grid-template-columns: 1fr repeat(3, 300px) 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    grid-template-areas: ". product1 product2 product3 .";
  }
  .products {
    margin: 0 auto;
  }
  #product1 {
    grid-area: product1;
  }
  #product2 {
    grid-area: product2;
  }
  #product3 {
    grid-area: product3;
  }
  #footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    align-items: center;
  }
  #footer ul {
    list-style: none;
    grid-column: 2;
    justify-self: start;
    display: flex;
  }
  #footer ul li {
    margin-right: 20px;
  }
  #footer p {
    align-items: end;
    grid-column: 3;
  }
}
